In [1]:
import warnings
warnings.filterwarnings('ignore')

# import preprocessing function
from helpers.preprocessing import *

# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine
import psycopg2
from config import db_password

# import machine learning dependencies
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# import neural network dependencies
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

## Read the Data from SQL

In [2]:
X, y = preprocessing('fall')
X.head()

,accommodates,longitude,latitude,beds,bedrooms,review_scores_rating,bathrooms,room_Entire home/apt,room_Hotel room,room_Private room,...,property_Entire condo,property_Entire cottage,property_Entire guest suite,property_Entire guesthouse,property_Entire home,property_Entire rental unit,property_Entire serviced apartment,property_Entire townhouse,property_Other,property_Private room in home
0,8,-117.25760,32.80751,3.0,2.0,4.76,2.0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,-117.21931,32.74217,1.0,1.0,4.33,1.0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,7,-117.25416,32.79783,5.0,3.0,4.75,2.5,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,8,-117.25728,32.80751,6.0,3.0,4.72,2.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,3,-117.26856,32.81301,3.0,2.0,4.94,1.0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

# Split the Data into Training and Testing

In [4]:
X.describe()

,accommodates,longitude,latitude,beds,bedrooms,review_scores_rating,bathrooms,room_Entire home/apt,room_Hotel room,room_Private room,...,property_Entire condo,property_Entire cottage,property_Entire guest suite,property_Entire guesthouse,property_Entire home,property_Entire rental unit,property_Entire serviced apartment,property_Entire townhouse,property_Other,property_Private room in home
count,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,...,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000,14026.000000
mean,4.866391,-117.173776,32.763467,2.688222,1.943747,4.749504,1.603629,0.838372,0.001069,0.155497,...,0.163696,0.021959,0.038856,0.047555,0.269642,0.184372,0.021959,0.035577,0.138315,0.078069
std,3.133007,0.074927,0.096004,2.111636,1.204703,0.387233,0.984302,0.368123,0.032686,0.362391,...,0.370013,0.146556,0.193260,0.212829,0.443790,0.387801,0.146556,0.185239,0.345242,0.268290
min,1.000000,-117.282580,32.519860,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,-117.248773,32.719043,1.000000,1.000000,4.710000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,-117.166917,32.756855,2.000000,2.000000,4.820000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,-117.129102,32.798990,3.000000,2.750000,4.950000,2.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,16.000000,-116.896560,33.125690,50.000000,23.000000,5.000000,27.500000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
# split data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
# scale the X data
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Multiple Linear Regression Model

In [7]:
reg = LinearRegression()
reg.fit(X_train_scaled, y_train)
y_pred = reg.predict(X_test_scaled)

In [8]:
print(f'Training R^2: {reg.score(X_train_scaled, y_train)}')
print(f'Testing R^2: {reg.score(X_test_scaled, y_test)}')

Training R^2: 0.10776308248288724
Testing R^2: 0.016422702490497265

In [9]:
# Display the coefficients in the model
results_df = pd.DataFrame({'Values': X.columns, 'Coef':reg.coef_})
results_df

                                Values        Coef
0                         accommodates    9.793644
1                            longitude  -46.086466
2                             latitude   35.128502
3                                 beds   74.503464
4                             bedrooms   37.324485
5                 review_scores_rating  -11.184779
6                            bathrooms  140.445089
7                 room_Entire home/apt    3.033836
8                      room_Hotel room    1.198153
9                    room_Private room   -0.029727
10                    room_Shared room  -15.794931
11               property_Entire condo  -30.467797
12             property_Entire cottage   -4.903085
13         property_Entire guest suite   -6.451752
14          property_Entire guesthouse   -2.412921
15                property_Entire home  -18.175378
16         property_Entire rental unit   67.677291
17  property_Entire serviced apartment    0.718629
18           property_Entire townhouse   -8.926077
19                      property_Other    3.909505
20       property_Private room in home  -15.570313

## Neural Network

In [10]:
X_train_scaled.shape

(10519, 21)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = 21
hidden_nodes_layer1 = 63
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 63)                1386

 dense_1 (Dense)             (None, 30)                1920

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 3,337
Trainable params: 3,337
Non-trainable params: 0
_________________________________________________________________

In [12]:
nn.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.1),
    loss='mean_absolute_error')

In [13]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
329/329 [==============================] - 3s 3ms/step - loss: 162.0309
Epoch 2/100
329/329 [==============================] - 1s 3ms/step - loss: 155.9972
Epoch 3/100
329/329 [==============================] - 1s 3ms/step - loss: 151.9561
Epoch 4/100
329/329 [==============================] - 1s 3ms/step - loss: 151.3553
Epoch 5/100
329/329 [==============================] - 1s 3ms/step - loss: 150.1273
Epoch 6/100
329/329 [==============================] - 1s 3ms/step - loss: 150.3592
Epoch 7/100
329/329 [==============================] - 1s 3ms/step - loss: 150.7863
Epoch 8/100
329/329 [==============================] - 1s 3ms/step - loss: 150.4077
Epoch 9/100
329/329 [==============================] - 1s 3ms/step - loss: 148.9972
Epoch 10/100
329/329 [==============================] - 1s 3ms/step - loss: 149.1781
Epoch 11/100
329/329 [==============================] - 1s 3ms/step - loss: 148.9307
Epoch 12/100
329/329 [==============================] - 1s 3ms/step - loss: 149.0184
Epoch 13/100
329/329 [==============================] - 1s 3ms/step - loss: 148.9281
Epoch 14/100
329/329 [==============================] - 1s 3ms/step - loss: 147.8010
Epoch 15/100
329/329 [==============================] - 1s 3ms/step - loss: 148.3784
Epoch 16/100
329/329 [==============================] - 1s 3ms/step - loss: 148.0895
Epoch 17/100
329/329 [==============================] - 1s 3ms/step - loss: 147.9699
Epoch 18/100
329/329 [==============================] - 1s 3ms/step - loss: 147.4100
Epoch 19/100
329/329 [==============================] - 1s 3ms/step - loss: 148.1757
Epoch 20/100
329/329 [==============================] - 1s 3ms/step - loss: 146.8410
Epoch 21/100
329/329 [==============================] - 1s 3ms/step - loss: 148.6715
Epoch 22/100
329/329 [==============================] - 1s 3ms/step - loss: 147.1389
Epoch 23/100
329/329 [==============================] - 1s 3ms/step - loss: 148.5486
Epoch 24/100
329/329 [==============================] - 1s 3ms/step - loss: 147.1425
Epoch 25/100
329/329 [==============================] - 1s 3ms/step - loss: 146.2688
Epoch 26/100
329/329 [==============================] - 1s 3ms/step - loss: 146.7338
Epoch 27/100
329/329 [==============================] - 1s 3ms/step - loss: 146.0131
Epoch 28/100
329/329 [==============================] - 1s 3ms/step - loss: 148.1469
Epoch 29/100
329/329 [==============================] - 1s 3ms/step - loss: 146.9508
Epoch 30/100
329/329 [==============================] - 1s 3ms/step - loss: 146.8388
Epoch 31/100
329/329 [==============================] - 1s 3ms/step - loss: 146.4108
Epoch 32/100
329/329 [==============================] - 1s 3ms/step - loss: 146.2715
Epoch 33/100
329/329 [==============================] - 1s 3ms/step - loss: 145.9673
Epoch 34/100
329/329 [==============================] - 1s 3ms/step - loss: 146.9956
Epoch 35/100
329/329 [==============================] - 1s 3ms/step - loss: 147.1846
Epoch 36/100
329/329 [==============================] - 1s 3ms/step - loss: 146.5147
Epoch 37/100
329/329 [==============================] - 1s 3ms/step - loss: 146.6152
Epoch 38/100
329/329 [==============================] - 1s 3ms/step - loss: 146.9116
Epoch 39/100
329/329 [==============================] - 1s 3ms/step - loss: 146.5121
Epoch 40/100
329/329 [==============================] - 1s 3ms/step - loss: 145.9766
Epoch 41/100
329/329 [==============================] - 1s 3ms/step - loss: 146.6360
Epoch 42/100
329/329 [==============================] - 1s 3ms/step - loss: 145.1086
Epoch 43/100
329/329 [==============================] - 1s 3ms/step - loss: 145.1487
Epoch 44/100
329/329 [==============================] - 1s 3ms/step - loss: 145.7770
Epoch 45/100
329/329 [==============================] - 1s 3ms/step - loss: 145.4196
Epoch 46/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3395
Epoch 47/100
329/329 [==============================] - 1s 3ms/step - loss: 145.8433
Epoch 48/100
329/329 [==============================] - 1s 3ms/step - loss: 145.9380
Epoch 49/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3026
Epoch 50/100
329/329 [==============================] - 1s 3ms/step - loss: 145.2320
Epoch 51/100
329/329 [==============================] - 1s 3ms/step - loss: 145.8233
Epoch 52/100
329/329 [==============================] - 1s 3ms/step - loss: 146.1650
Epoch 53/100
329/329 [==============================] - 1s 3ms/step - loss: 145.0306
Epoch 54/100
329/329 [==============================] - 1s 3ms/step - loss: 146.0341
Epoch 55/100
329/329 [==============================] - 1s 3ms/step - loss: 144.9877
Epoch 56/100
329/329 [==============================] - 1s 3ms/step - loss: 145.6430
Epoch 57/100
329/329 [==============================] - 1s 3ms/step - loss: 145.4089
Epoch 58/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3350
Epoch 59/100
329/329 [==============================] - 1s 3ms/step - loss: 145.2402
Epoch 60/100
329/329 [==============================] - 1s 3ms/step - loss: 146.0470
Epoch 61/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3691
Epoch 62/100
329/329 [==============================] - 1s 3ms/step - loss: 145.2559
Epoch 63/100
329/329 [==============================] - 1s 3ms/step - loss: 144.9696
Epoch 64/100
329/329 [==============================] - 1s 3ms/step - loss: 144.6561
Epoch 65/100
329/329 [==============================] - 1s 3ms/step - loss: 145.5785
Epoch 66/100
329/329 [==============================] - 1s 3ms/step - loss: 144.8969
Epoch 67/100
329/329 [==============================] - 1s 3ms/step - loss: 145.7527
Epoch 68/100
329/329 [==============================] - 1s 3ms/step - loss: 145.6509
Epoch 69/100
329/329 [==============================] - 1s 3ms/step - loss: 145.4814
Epoch 70/100
329/329 [==============================] - 1s 3ms/step - loss: 145.7503
Epoch 71/100
329/329 [==============================] - 1s 3ms/step - loss: 145.8832
Epoch 72/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3608
Epoch 73/100
329/329 [==============================] - 1s 3ms/step - loss: 145.1223
Epoch 74/100
329/329 [==============================] - 1s 3ms/step - loss: 146.1180
Epoch 75/100
329/329 [==============================] - 1s 3ms/step - loss: 144.8834
Epoch 76/100
329/329 [==============================] - 1s 3ms/step - loss: 146.0690
Epoch 77/100
329/329 [==============================] - 1s 3ms/step - loss: 145.0580
Epoch 78/100
329/329 [==============================] - 1s 3ms/step - loss: 145.6750
Epoch 79/100
329/329 [==============================] - 1s 3ms/step - loss: 144.8669
Epoch 80/100
329/329 [==============================] - 1s 3ms/step - loss: 144.4818
Epoch 81/100
329/329 [==============================] - 1s 3ms/step - loss: 145.5400
Epoch 82/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3762
Epoch 83/100
329/329 [==============================] - 1s 3ms/step - loss: 145.0783
Epoch 84/100
329/329 [==============================] - 1s 3ms/step - loss: 145.2057
Epoch 85/100
329/329 [==============================] - 1s 3ms/step - loss: 144.6641
Epoch 86/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3222
Epoch 87/100
329/329 [==============================] - 1s 3ms/step - loss: 145.7867
Epoch 88/100
329/329 [==============================] - 1s 3ms/step - loss: 145.1290
Epoch 89/100
329/329 [==============================] - 1s 3ms/step - loss: 145.1933
Epoch 90/100
329/329 [==============================] - 1s 3ms/step - loss: 144.4467
Epoch 91/100
329/329 [==============================] - 1s 3ms/step - loss: 145.3572
Epoch 92/100
329/329 [==============================] - 1s 3ms/step - loss: 146.7686
Epoch 93/100
329/329 [==============================] - 1s 3ms/step - loss: 145.8924
Epoch 94/100
329/329 [==============================] - 1s 3ms/step - loss: 144.4922
Epoch 95/100
329/329 [==============================] - 1s 3ms/step - loss: 145.2627
Epoch 96/100
329/329 [==============================] - 1s 3ms/step - loss: 144.5185
Epoch 97/100

329/329 [==============================] - 1s 3ms/step - loss: 144.9619
Epoch 98/100
329/329 [==============================] - 1s 3ms/step - loss: 145.7186
Epoch 99/100
329/329 [==============================] - 1s 3ms/step - loss: 144.7855
Epoch 100/100
329/329 [==============================] - 1s 3ms/step - loss: 144.8620

In [14]:
# Evaluate the mean absolute error of the  model using the test data
mae = nn.evaluate(X_test_scaled,y_test,verbose=0)
print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 181.05654907226562